In [ ]:
# Sample Pandas Example

In [3]:
import pandas as pd

# Create a DataFrame from a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
    'Age': [25, 30, 35, 40, 45],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Boston']
}
df = pd.DataFrame(data)

# Display the DataFrame
print("Original DataFrame:")
print(df)
print()

# Selecting a column
print("Selecting a column 'Name':")
print(df['Name'])
print()

# Selecting multiple columns
print("Selecting multiple columns 'Name' and 'Age':")
print(df[['Name', 'Age']])
print()

# Filtering rows based on a condition
print("Filtering rows where Age is greater than 30:")
print(df[df['Age'] > 30])
print()

# Adding a new column
df['Country'] = 'USA'
print("DataFrame after adding a new column 'Country':")
print(df)
print()

# Dropping a column
df.drop(columns=['City'], inplace=True)
print("DataFrame after dropping the 'City' column:")
print(df)
print()

# Sorting by a column
df_sorted = df.sort_values(by='Age', ascending=False)
print("DataFrame sorted by Age (descending):")
print(df_sorted)

Original DataFrame:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston
4    Emily   45       Boston

Selecting a column 'Name':
0      Alice
1        Bob
2    Charlie
3      David
4      Emily
Name: Name, dtype: object

Selecting multiple columns 'Name' and 'Age':
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40
4    Emily   45

Filtering rows where Age is greater than 30:
      Name  Age     City
2  Charlie   35  Chicago
3    David   40  Houston
4    Emily   45   Boston

DataFrame after adding a new column 'Country':
      Name  Age         City Country
0    Alice   25     New York     USA
1      Bob   30  Los Angeles     USA
2  Charlie   35      Chicago     USA
3    David   40      Houston     USA
4    Emily   45       Boston     USA

DataFrame after dropping the 'City' column:
      Name  Age Country
0    Alice   25     USA
1      Bob   30     USA
2  Charlie   35     USA
3    David   40     USA
4    Emily   45     USA

DataFrame sorted by Age (descending):
      Name  Age Country
4    Emily   45     USA
3    David   40     USA
2  Charlie   35     USA
1      Bob   30     USA
0    Alice   25     USA

In [20]:
nums = [0, 1, 0, 3, 12, 0, 8, 0]
idx = 0
for num in nums:
    if num != 0:
        nums[idx] = num
        idx = idx + 1
while idx < len(nums):
        nums[idx] = 0
        idx = idx + 1
nums

[1, 3, 12, 8, 0, 0, 0, 0]

In [31]:
nums = [0, 1, 0, 3, 12, 0, 8, 0]
non_zero = []
zero = []
for i in nums:
    if i != 0:
        non_zero.append(i)
    else:
        zero.append(i)
new_nums = non_zero + zero
new_nums

[1, 3, 12, 8, 0, 0, 0, 0]

In [1]:
# lambda function

In [6]:
even_number = lambda number : 'Even' if number % 2 == 0 else 'Odd'

In [7]:
even_number(10)

'Even'

In [10]:
list1 = [1,2,3,4,5]
sum = 0
for i in list1:
    sum = sum + i
print(sum)

15

In [11]:
def sum_list(lst):
    sum = 0
    for i in list1:
        sum = sum + i   
    return sum
list1 = [1,2,3,4,5]
print(sum_list(list1))

15

In [16]:
def reverse_function(string):
    reverse_string = ""
    for idx in string: 
        reverse_string = idx + reverse_string
    return reverse_string
string = "swapnasubham das"
print(reverse_function(string))

sad mahbusanpaws

In [20]:
def factorial(number):
    if (number == 0 | number == 1):
        return 1
    else:
        return number * factorial(number - 1)
factorial(10)

3628800